{% extends "base.html" %}

{% block content %}
    <div class="form-container medium-text">
        <p class="copy-form-legend">Profile</p>
        <p>You are logged in as <strong>{{ user.email }}</strong></p>
        <p>You have been a member since <strong>{{ user.date_joined }}</strong> and created <strong>{{ user.posts.count }}</strong> posts</p>
        <br>
        <p>Profile Image:</p>
        <img src="/media/{{ user.image }}" id="register-avatar"/>
        <a href="{% url 'edit_profile' %}" class="btn btn-primary"><i class="fa fa-photo"></i> Change Profile Image</a>
    </div>
{% endblock %}
