/* ----------------------------------------General----------------------------------*/

/*to enable sticky footer*/
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#main-container {
	min-height: 100%;
	position: relative;
	background-color: #EEDC82;  /*light brown*/
}

#body-template {
	padding-bottom: 40px;   /* Height of the footer */
    padding-top: 60px;  /*Height of navbar. Added to orig code*/
    /*height : 100%;  !*added to try to get home carousel to cover whole screen*!*/
    /*min-width: 100%;  !*added to try to get home carousel to cover whole screen*!*/
}

footer {
	background-color: black;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
}
/*end sticky footer*/

.navbar-right {
	margin-right: 10px !important;
}

footer > div {
    display: flex;
    justify-content: center;
}

footer > div > a {
    margin: 5px 10px;
}


/* alert messages*/
.alert {
	border-radius: 0;
}

.messages {
    position: absolute;
	z-index: 10;
	margin-top: 80px;
	width: 80%;
	margin-left: 10%;
}

#closeButton {
    position: absolute;
    top: 0;
    right: 0;
}
/*end alert messages*/

.fake-hr {
	border-bottom: 1px solid lightgray;
	margin-top: 5px;
}

.form-container {
	padding: 10px;
}

/*Copies styling of bootstrap form legend*/
.copy-form-legend {
	display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 30px;
    color: inherit;
    border: 0;
    border-bottom: 1px solid transparent;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.default-shadow-div {
    /*padding: 10px 10px 0 10px;*/
    border: 1px solid black;
    border-radius: 3px;
    /*margin: 0 10px 20px 0;*/
    background-color: white;
    box-shadow: 5px 5px 5px #87421F;
}

/*to hide elements on smaller screen sizes*/
.hidden-element {
    display: none;
}

.small-text {
    font-size: 10px
}

.medium-text {
    font-size: 12px;
}

.large-text {
    font-size: 20px;
}

.centre-items {
    text-align: center;
}

.action-button {
    margin-right: 10px;
}

/*------------------------------------App specific---------------------------------------*/


/*-----------------------------------------Home---------------------------------------------*/

/*text color in home carousel*/
.carousel-caption {
	color: white;
    top: 0;
}

.carousel-caption h1 {
	font-size: 22px;
}

.carousel-caption p {
	font-size: 16px;
}

/*home carousel set height of images*/
.home-img {
	/*min-height: 100%;*/
	min-height: 1080px;
    background-size: cover;  /*doesn't work here so added to inline styling*/
}

/*added to try to make carousel full size on all screen sizes but has no effect*/
.carousel,
.item,
.active {
    height:100%;
}

/*added to try to make carousel full size on all screen sizes but has no effect*/
.carousel-inner {
    height:100%;
}


/*--------------------------------------Gallery-------------------------------------------*/

.gallery-thumbnail {
	max-height: 120px;
	max-width: 120px;
}

.gallery-image-desc {
    margin: 0px;
    font-size: 10px;
}

.gallery-image-surround {
    padding: 5px;
    margin: 5px 5px 10px 5px;
    max-width: 130px;
}

/*line up the default first image with the others*/
#gallery-default-pic {
    padding-bottom: 20px;
}


/*--------------------------------Project Bike Selector------------------------------------*/

.pbs-table {
    background-color: white;
}



/*-----------------------------------How-To Guides------------------------------------------*/

.guide-div {
    padding-top: 5px;
    margin: 10px;
}



/*---------------------------------------Forum-----------------------------------------------*/

.avatar {
	max-height: 50px;
	max-width: 50px;
    margin-top: 10px;
}

.avatar-text {
    margin: 0;
    font-size: 10px;
    word-wrap: break-word;
}

.forum-subject {
    margin: 5px 5px 20px 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
    box-shadow: 5px 5px 5px #87421F;
}

.forum-subject-top {
    background: #811B33;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    text-align: center;
}

.forum-subject-top > a {
    text-decoration: none;
    color: white;
    display: block; /*so whole div acts as a link*/
}

.forum-subject-bottom {
    padding: 5px;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.forum-image {
    max-width: 100%;
}

.thread-div {
    /*padding-top: 5px;*/
    margin: 10px;
}

.post-body {
    margin-top: 5px;
}

.post-icons {
    padding-left: 5px;
    padding-right: 5px;

}

.post-edit-icon {
    margin-right: 10px;
}

/*------------------------------------Merchandise---------------------------------------------*/

.merch-div {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
}


.merch_image {
    max-height: 100px;
    max-width: 100px;
}


/*---------------------------------------Payments----------------------------------------------*/




/*---------------------------------------Accounts (Register)------------------------------------*/

#register-avatar {
	max-height: 200px;
	max-width: 200px;
    display: block;
    margin-bottom: 20px;
}









@media screen and (min-width:450px){


.carousel-caption h1 {
	font-size: 33px;
}

.carousel-caption p {
	font-size: 24px;
}

}


@media screen and (min-width:550px) {

.small-text {
    font-size: 12px
}

.medium-text {
    font-size: 14px;
}

.large-text {
    font-size: 30px;
}



}

/*default bootstrap media query for sm cols*/
@media screen and (min-width:768px){

.carousel-caption {
    top: auto;
}

.carousel-caption h1 {
	font-size: 44px;
}

.carousel-caption p {
	font-size: 32px;
}

.form-container {
	padding: 30px;
}

/*to hide elements on smaller screen sizes*/
.hidden-element {
    display: block;
}

.form-container > .forum-nav {
/*.form-container > .forum-nav {*/
    margin-bottom: 20px;
}

/*new thread button*/
.my-button {
    margin: 0 0 20px 20px;
}

.gallery-thumbnail {
	max-height: 150px;
	max-width: 150px;
}

.gallery-image-surround {
    padding: 10px;
    max-width: 170px;
}

.avatar-text {
    margin: 0;
    font-size: 12px;
}

.forum-subject-bottom {
    padding: 15px;
}

}

/*default bootstrap media query for md cols*/
@media screen and (min-width:992px){


}



/*default bootstrap media query for lg cols*/
@media screen and (min-width:1200px){}





/*increase the break point of the navbar to stop it displaying on 2 lines*/
/*code taken from https://stackoverflow.com/questions/19827605/change-bootstrap-navbar-collapse-breakpoint-without-using-less*/
@media (max-width: 992px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
/*end navbar break point code*/

