{% extends "base.html" %}
{% load bootstrap_tags %}


{% block content %}
	<form role="form" method="get" id="bike-search-form" action="{% url 'bike_search' %}">
		<h2>Project bike selector</h2>
		{{ form|as_bootstrap }}
		<div class="form-group">
		<button class="btn btn-primary" id="bike_search_btn" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
        <input type="hidden" name="action" value="process_form" />
		</div>
	</form>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Manufacturer</th>
				<th>Model</th>
				<th>Number of cylinders</th>
				<th>Engine layout</th>
			</tr>
		</thead>
		<tbody>
            {% if bikes %}
                {% for bike in bikes %}
                    <tr>
                        <td>{{ bike.manufacturer }}</td>
                        <td>{{ bike.model }}</td>
                        <td>{{ bike.cylinders }}</td>
                        <td>{{ bike.layout }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="12"><strong>No data</strong></td>
                </tr>
            {% endif %}
		</tbody>
	</table>

{% endblock %}
