{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static "js/stripe.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="form-container medium-text">
        <div class="col-md-6">
            <form role="form" method="post" id="payment-form" action="{% url 'place_order' product.id %}">
                <div id="credit-card-errors">
                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                </div>

                <legend>Payment details</legend>
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-group">
                    <input class="btn btn-primary action-button" id="validate_card_btn" name="commit" type="submit" value="Place Order">
                    <button class="btn btn-danger" onclick="history.back()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
