{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="form-container">

        <!--Display image upload button if user is logged in. If not logged in, display message-->
        {% if user.is_authenticated %}
            <p>
                <a href="{% url 'upload_image' %}" class="btn btn-primary"><i class="fa fa-camera"></i> Upload Image</a>
            </p>
        {% else %}
            <p class="medium-text">You can view all images as a guest, but to upload images you need to login/register.</p>
        {% endif %}

        <p class="medium-text">Click or tap thumbnails below. Use Prev & Next arrows to cycle through the images.</p>

        {% include "pagination.html" with page=images %}

        <!--Display gallery images-->
        <ul class="list-inline">
            {% for image in images %}
                <li data-toggle="modal" data-target="#myModal"><div class="default-shadow-div gallery-image-surround"><a href="#myGallery" data-slide-to="{{ forloop.counter0 }}"><img class="gallery-thumbnail" src="/media/{{ image.image }}"></a></div></li>
            {% endfor %}
        </ul>

        {% include "pagination.html" with page=images %}

    </div>

    <!--Modal (which contains carousel in its body)-->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="pull-left">Bike Builder Gallery</div>
                    <button type="button" class="close" data-dismiss="modal" title="Close"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="modal-body">

                    <!--Carousel-->
                    <div id="myGallery" class="carousel slide" data-interval="false">
                        <div class="carousel-inner">
                            {% for image in images %}
                                    <div class="item {% if forloop.counter0 == 0 %}active{% endif %}"><img src="/media/{{ image.image }}" class="gallery-modal-image" alt="Oops! A picture should be here :("><div class="gallery-modal-desc">{{ image.description }}</div></div>
                            {% endfor %}
                        </div><!--end carousel-inner-->

                        <!--Begin Previous and Next buttons-->
                        <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="right carousel-control" href="#myGallery" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div><!--end carousel-->
                </div><!--end modal-body-->
            </div><!--End modal-content-->
        </div><!--End modal-dialog-->
    </div><!--End Modal-->

{% endblock %}
