{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div id="myCarousel" class="carousel slide" data-ride="carousel">

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">

            <div class="item active home-img" style="background: url('{% static "images/home_carousel/home_1.jpg" %}') no-repeat center center; background-size: cover;"> <!--inline styling required-->
                <div class="container">
                    <div class="carousel-caption">
                        <h1><strong>Bike Builder</strong></h1>
                        <p class="lead"><strong>Welcome to Bike Builder, a website aimed at anyone building, or considering building, a project motorcycle. Register to access the full functionality of the site.</strong></p>
                        <a class="btn btn-large btn-primary" href="{% url 'register' %}"><h5>Register</h5></a>
                    </div>
                </div>
            </div>

            <div class="item home-img" style="background: url('{% static "images/home_carousel/home_2.jpg" %}') no-repeat center center; background-size: cover;">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><strong>Gallery</strong></h1>
                        <p class="lead"><strong>Get inspiration by browsing our extensive gallery</strong></p>
                        <a class="btn btn-large btn-primary" href="/gallery/"><h5>Browse</h5></a>
                    </div>
                </div>
            </div>

            <div class="item home-img" style="background: url('{% static "images/home_carousel/home_1.jpg" %}') no-repeat center center; background-size: cover;">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><strong>Project Bike Selector</strong></h1>
                        <p class="lead"><strong>Identify the perfect base motorcycle for your project</strong></p>
                        <a class="btn btn-large btn-primary" href="/bike_selector/"><h5>Go there now</h5></a>
                    </div>
                </div>
            </div>

            <div class="item  home-img" style="background: url('{% static "images/home_carousel/home_2.jpg" %}') no-repeat center center; background-size: cover;">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><strong>How-To Guides</strong></h1>
                        <p class="lead"><strong>Find out how to carry out a range of tasks from checking tyres to restoring a classic</strong></p>
                        <a class="btn btn-large btn-primary" href="/how_to_guides/"><h5>Find enlightenment</h5></a>
                    </div>
                </div>
            </div>

            <div class="item home-img" style="background: url('{% static "images/home_carousel/home_1.jpg" %}') no-repeat center center; background-size: cover;">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><strong>Forum</strong></h1>
                        <p class="lead"><strong>Read or chat about a range of topics</strong></p>
                        <a class="btn btn-large btn-primary" href="/forum/"><h5>Go there now</h5></a>
                    </div>
                </div>
            </div>

            <div class="item home-img" style="background: url('{% static "images/home_carousel/home_2.jpg" %}') no-repeat center center; background-size: cover;">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><strong>Merchandise</strong></h1>
                        <p class="lead"><strong>Proudly display your love of this site by buying some exclusive Bike Builder goodies in our online store</strong></p>
                        <a class="btn btn-large btn-primary" href="/merchandise/"><h5>Make me cool</h5></a>
                    </div>
                </div>
            </div>

		</div>


		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
		</a>

		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
		</a>

	</div>
{% endblock %}

