{#<div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if page.has_previous %}#}
{#            <a href="?page={{ page.previous_page_number }}">Previous</a>#}
{#        {% endif %}#}
{#        <span class="current">#}
{#            Page {{ page.number }} of {{ page.paginator.num_pages }}.#}
{#        </span>#}
{#        {% if page.has_next %}#}
{#            <a href="?page={{ page.next_page_number }}">Next</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}

<ul class="pagination nav navbar-nav">
    {% if page.has_previous %}
        <li><a href="?page={{ page.previous_page_number }}">Prev</a></li>
    {% endif %}
    {% if page.paginator.num_pages > 1 %}
        {% for page in page.paginator.page_range %}
            <li class="{% if page.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>
        {% endfor %}
    {% endif %}
    {% if page.has_next %}
        <li> <a href="?page={{ page.next_page_number }}">Next</a></li>
    {% endif %}
</ul>
