{% extends 'base.html' %}
{% block content %}
    <div class="form-container">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td><img class="merch_image" src="/media/{{ product.image }}"></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td><span>£ </span>{{ product.price }}</td>
                        <td><a href="{% url 'place_order' product.id %}" class="btn btn-primary">Buy</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
