{% extends 'base.html' %}

{% block content %}
    <div class="form-container medium-text">
        {% for product in products %}
            <section class="row merch-div default-shadow-div">
                <div class="col-sm-2 centre-items"><img class="merch_image" src="/media/{{ product.image }}"></div>
                <div class="col-sm-2 centre-items"><strong>{{ product.name }}</strong></div>
                <div class="col-sm-4 centre-items">{{ product.description }}</div>
                <div class="col-sm-2 centre-items">£ {{ product.price }}</div>
                <div class="col-sm-2 centre-items"><a href="{% url 'place_order' product.id %}" class="btn btn-primary"><i class="fa fa-credit-card"></i> Buy</a></div>
            </section>
        {% endfor %}
        <div class="merch-div small-text">
            <p>* Stickers image taken from www.bomit.com</p>
            <p>* Clothing images taken from www.Amazon.co.uk</p>
        </div>
    </div>
{% endblock %}

{#{% block content %}#}
{#    <div class="form-container table-responsive">#}
{#        <table class="table">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th></th>#}
{#                    <th>Item</th>#}
{#                    <th>Description</th>#}
{#                    <th>Price</th>#}
{#                    <th></th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for product in products %}#}
{#                    <tr>#}
{#                        <td><img class="merch_image" src="/media/{{ product.image }}"></td>#}
{#                        <td>{{ product.name }}</td>#}
{#                        <td class="merch-desc">{{ product.description }}</td>#}
{#                        <td>£ {{ product.price }}</td>#}
{#                        <td><a href="{% url 'place_order' product.id %}" class="btn btn-primary"><i class="fa fa-credit-card"></i> Buy</a></td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#{% endblock %}#}
