{% load thread_extras %}

<div class="details">
    <div class="col-xs-8">
        <div class="float-left">
            <time datetime="{{ post.created_at }}" class="avatar-text">
                Posted {{ post.created_at|started_time }}
            </time>
        </div>
    </div>
    <div class="col-xs-4 post-icons">
        <div class="float-right">
            {% if post.user == user or user.is_staff %}
                <a href="{% url 'edit_post' thread.id post.id %}?next={% firstof request.get_full_path '/' %}">
                    <i class="fa fa-pencil-square-o post-edit-icon" title="Edit"></i>
                </a>
                <a href="{% url 'delete_post' thread.id post.id %}?next={% firstof request.get_full_path '/' %}">
                    <i class="fa fa-trash-o" title="Delete"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>
