{% extends "base.html" %}
{% load thread_extras %}
{% load bootstrap_tags %}

{% block content %}
    <div class="form-container flex-container">
        {% for subject in subjects %}
            <section class="forum-subject">
                <div class="forum-subject-top">
                    <a href="{% url 'threads' subject.id %}">
                            <i class="{{ subject.icon }} fa-4x hidden-element"></i>
                        <p class="large-text">{{ subject.name }}</p>
                        <p class="medium-text">
                                {% autoescape off %}
                                    {{ subject.description }}
                                {% endautoescape %}
                        </p>
                    </a>
                </div>
                <div class="forum-subject-bottom">
                    <p class="medium-text">Threads {{ subject.threads.count }} | Posts {{ subject|get_total_subject_posts }}</p>
                    <div class="hidden-element">
                        <div class="fake-hr"></div>
                        <p class="small-text">Most recent:</p>
                        {% if subject.threads.count > 0 %}
                            <p class="medium-text italic-text">{% subject_thread_with_last_post subject %}</p>
                            <p class="small-text italic-text">{% latest_subject_post_comment subject %}</p>
                            <p class="small-text float-left no-margin">Posted {% latest_subject_post_date subject %}</p>
                            <a href="{% url 'thread' subject.latest_post_thread_id %}" class="small-text float-right">Read more</a>
                        {% else %}
                            <p>Subject currently has no threads</p>
                        {% endif %}
                    </div>
                </div>
            </section>
        {% endfor %}
    </div>
{% endblock %}
