{% load staticfiles %}
{% load emoticons_tags %}
{% load thread_extras %}


    <section class="row post-div default-shadow-div">
        <div class="col-xs-3 col-sm-2">  <!--Poster details-->
            <p><img src="/media/{{ post.user.image }}" class="avatar"/></p>
            <p class="avatar-text">{% post_display_name post %}</p>
{#            <p class="avatar-text">{{ post.user.username }}</p>#}
            <p class="avatar-text">Posts: {{ post.user.posts.count }}</p>
        </div>
        <div class="col-xs-9 col-sm-10 static-div">
            <div class="medium-text post-body">  <!--Post-->

                {% autoescape off %}
                    {{ post.comment|emoticons }}
                {% endautoescape %}

                {% if post.image %}
                    <img src="/media/{{ post.image }}" class="forum-image">
                {% endif %}

            </div>
            <div class="col-xs-8 post-details">
                {% include "forum/comment_details.html" %}  <!--When posted, edit and delete icons-->
            </div>
        </div>
    </section>


{#    <section class="row thread-div default-shadow-div">#}
{#        <div class="col-xs-3 col-sm-2">  <!--Poster details-->#}
{#            <p><img src="/media/{{ post.user.image }}" class="avatar"/></p>#}
{#            <p class="avatar-text">{{ post.user.username }}</p>#}
{#            <p class="avatar-text">Posts: {{ post.user.posts.count }}</p>#}
{#        </div>#}
{#        <div class="col-xs-9 col-sm-10">#}
{#            <div class="medium-text post-body">  <!--Post-->#}
{##}
{#                {% autoescape off %}#}
{#                    {{ post.comment|emoticons }}#}
{#                {% endautoescape %}#}
{##}
{#                {% if post.image %}#}
{#                    <img src="/media/{{ post.image }}" class="forum-image">#}
{#                {% endif %}#}
{##}
{#            </div>#}
{#            <div class="fake-hr"></div>#}
{#            {% include "forum/comment_details.html" %}  <!--When posted, edit and delete icons-->#}
{#        </div>#}
{#    </section>#}


{#    <section class="row col-md-12 default-shadow-div">#}
{#        <div class="col-md-2">  <!--Poster details-->#}
{#            <p><img src="/media/{{ post.user.image }}" class="avatar"/></p>#}
{#            <p class="avatar-text;">{{ post.user.username }}</p>#}
{#            <p class="avatar-text;">Posts: {{ post.user.posts.count }}</p>#}
{#        </div>#}
{#        <div class="col-md-10">#}
{#            <div>  <!--Post-->#}
{#    #}
{#                {% autoescape off %}#}
{#                    {{ post.comment|emoticons }}#}
{#                {% endautoescape %}#}
{#    #}
{#                {% if post.image %}#}
{#                    <img src="/media/{{ post.image }}" class="forum-image">#}
{#                {% endif %}#}
{#    #}
{#            </div>#}
{#            <div class="fake-hr"></div>#}
{#            {% include "forum/comment_details.html" %}  <!--When posted, edit and delete icons-->#}
{#        </div>#}
{#    </section>#}
{##}
{##}
{#{% load staticfiles %}#}
{#{% load emoticons_tags %}#}
{#<section class="row comment col-md-9">#}
{#    <div class="col-md-3 comment-profile">#}
{#        <p><img src="/media/{{ post.user.image }}" class="avatar"/></p>#}
{#        <p>{{ post.user.username }}</p>#}
{#        <p>{{ post.user.posts.count }} POSTS</p>#}
{#    </div>#}
{#    <div class="col-md-9">#}
{#        <div class="comment-content">#}
{##}
{#            {% if post.image %}#}
{#                <img src="/media/{{ post.image }}">#}
{#            {% endif %}#}
{##}
{#            {% autoescape off %}#}
{#                {{ post.comment|emoticons }}#}
{#            {% endautoescape %}#}
{##}
{#        </div>#}
{#        {% include "forum/comment_details.html" %}#}
{#    </div>#}
{#</section>#}
