{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script>
    tinyMCE.init({
        mode: "textareas",
        theme: "modern",
        plugins: "paste"
    });
    </script>
{% endblock %}

{% block content %}
    <section class="form-container medium-text">
        <div class="col-xs-12">
{#            <form method="post" enctype="multipart/form-data" action="{{ form_action }}">#}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary action-button">{{ button_text }}</button>
                    <button class="btn btn-danger" onclick="history.back()">Cancel</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
