{% extends "base.html" %}
{% load thread_extras %}

{% block content %}

    <div class="form-container">
        <h4 class="forum-nav"><a href="/forum/">Forum</a> / {{ subject.name }}</h4>
        {% if user.is_authenticated %}
            <p>
                <a href="{% url 'new_thread' subject.id %}" class="btn btn-primary my-button">New Thread</a>
            </p>
        {% endif %}

        {% for thread in subject.threads.all %}
{#        {% for thread in threads_ordered_by_latest_post %}#}
            <div class="row default-shadow-div">
                <div class="col-md-2">
                    <img src="/media/{{ thread.user.image }}" class="avatar"/>
                    <p class="avatar-text">{{ thread.user.username }}</p>
                    <p class="avatar-text">Posts: {{ thread.user.posts.count }}</p>
                </div>
                <div class="col-md-8">
                    {% include "forum/thread_item.html" %}
                    <div class="fake-hr"></div>
                    <p class="avatar-text">Last post by {% last_posted_user_name thread %} {% last_posted_timing thread %}</p>
                </div>
                <div class="col-md-2">
                    <p class="float-right">Posts {{ thread.posts.count }} | Views {{ thread.views }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{#{% block content %}#}
{##}
{#        <h1>{{ subject.name }}</h1>#}
{#        <div class="col-md-12">#}
{#            {% if user.is_authenticated %}#}
{#                <p>#}
{#                    <a href="{% url 'new_thread' subject.id %}" class="btn btn-primary">New Thread</a>#}
{#                </p>#}
{#            {% endif %}#}
{#            {% for thread in subject.threads.all %}#}
{#                {% include "forum/thread_item.html" %}#}
{#                <span>Posts:</span>#}
{#                <span>Views:</span>#}
{#                <hr>#}
{#            {% endfor %}#}
{#        </div>#}
{##}
{#{% endblock %}#}
